.bg-00 {
  background-color: #f6fefe;
}

.bg-01 {
  background-color: #021d21;
}

.bg-02 {
  background-color: #aae5de;
}

.bg-03 {
  background-color: #707070;
}

.bg-04 {
  background-color: #28a1b2;
}

.bg-05 {
  background-color: #e9d7bf;
}

.bg-06 {
  background-color: #e9d7bf;
}

.bg-07 {
  background-color: #707070;
}

.bg-08 {
  background-color: #393e41;
}

.tet-00 {
  color: #fff;
}

.text-01 {
  color: #021d21;
}

.text-02 {
  color: #032e34;
}

.text-03 {
  color: #393e41;
}

.text-04 {
  color: #707070;
}

.text-05 {
  color: #aae5de;
}

.text-06 {
  color: #e9d7bf;
}

.text-sm {
  font-size: 0.875rem;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.75rem;
}

.text-white {
  color: #fff;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.bg-00 {
  background-color: #f6fefe;
}

.bg-01 {
  background-color: #021d21;
}

.bg-02 {
  background-color: #aae5de;
}

.bg-03 {
  background-color: #707070;
}

.bg-04 {
  background-color: #28a1b2;
}

.bg-05 {
  background-color: #e9d7bf;
}

.bg-06 {
  background-color: #e9d7bf;
}

.bg-07 {
  background-color: #707070;
}

.bg-08 {
  background-color: #393e41;
}

.tet-00 {
  color: #fff;
}

.text-01 {
  color: #021d21;
}

.text-02 {
  color: #032e34;
}

.text-03 {
  color: #393e41;
}

.text-04 {
  color: #707070;
}

.text-05 {
  color: #aae5de;
}

.text-06 {
  color: #e9d7bf;
}

.text-sm {
  font-size: 0.875rem;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.75rem;
}

.text-white {
  color: #fff;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

[class*=col-] {
  padding: 0 24px;
}
@media only screen and (max-width: 1366px) {
  [class*=col-] {
    padding: 0 12px;
  }
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 1366px) {
  .md-col-1 {
    width: 8.3333333333%;
  }

  .md-col-2 {
    width: 16.6666666667%;
  }

  .md-col-3 {
    width: 25%;
  }

  .md-col-4 {
    width: 33.3333333333%;
  }

  .md-col-5 {
    width: 41.6666666667%;
  }

  .md-col-6 {
    width: 50%;
  }

  .md-col-7 {
    width: 58.3333333333%;
  }

  .md-col-8 {
    width: 66.6666666667%;
  }

  .md-col-9 {
    width: 75%;
  }

  .md-col-10 {
    width: 83.3333333333%;
  }

  .md-col-11 {
    width: 91.6666666667%;
  }

  .md-col-12 {
    width: 100%;
  }

  .hide-md {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .sm-col-1 {
    width: 8.3333333333%;
  }

  .sm-col-2 {
    width: 16.6666666667%;
  }

  .sm-col-3 {
    width: 25%;
  }

  .sm-col-4 {
    width: 33.3333333333%;
  }

  .sm-col-5 {
    width: 41.6666666667%;
  }

  .sm-col-6 {
    width: 50%;
  }

  .sm-col-7 {
    width: 58.3333333333%;
  }

  .sm-col-8 {
    width: 66.6666666667%;
  }

  .sm-col-9 {
    width: 75%;
  }

  .sm-col-10 {
    width: 83.3333333333%;
  }

  .sm-col-11 {
    width: 91.6666666667%;
  }

  .sm-col-12 {
    width: 100%;
  }

  .hide-sm {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fahkwang", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #4e4d4f;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: #f3f4fa;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}

ul,
li {
  list-style-type: none;
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

@media only screen and (max-width: 1366px) {
  .md-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .md-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .md-grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .md-grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .md-grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .md-grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .md-grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .md-grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .md-grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 600px) {
  .sm-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .sm-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .sm-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .sm-grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .sm-grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .sm-grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .sm-grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .sm-grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .sm-grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .sm-grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 2rem;
}

.gap-x-1 {
  column-gap: 0.5rem;
}

.gap-x-2 {
  column-gap: 1rem;
}

.gap-x-3 {
  column-gap: 1.5rem;
}

.gap-x-4 {
  column-gap: 2rem;
}

.gap-y-1 {
  column-gap: 0.5rem;
}

.gap-y-2 {
  column-gap: 1rem;
}

.gap-y-3 {
  column-gap: 1.5rem;
}

.gap-y-4 {
  column-gap: 2rem;
}

@media only screen and (max-width: 1366px) {
  .md-gap-1 {
    gap: 0.5rem;
  }

  .md-gap-2 {
    gap: 1rem;
  }

  .md-gap-3 {
    gap: 1.5rem;
  }

  .md-gap-4 {
    gap: 2rem;
  }

  .md-gap-x-1 {
    column-gap: 0.5rem;
  }

  .md-gap-x-2 {
    column-gap: 1rem;
  }

  .md-gap-x-3 {
    column-gap: 1.5rem;
  }

  .md-gap-x-4 {
    column-gap: 2rem;
  }

  .md-gap-y-1 {
    column-gap: 0.5rem;
  }

  .md-gap-y-2 {
    column-gap: 1rem;
  }

  .md-gap-y-3 {
    column-gap: 1.5rem;
  }

  .md-gap-y-4 {
    column-gap: 2rem;
  }
}
.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

section {
  margin-bottom: 2rem;
}

/*# sourceMappingURL=base.css.map */
