.footer .copy-right {
  border-top: 1px solid #55c2a4;
  position: relative;
}
.footer .copy-right .go-to-top {
  position: absolute;
  bottom: calc(100% + 1rem);
  right: 1rem;
}
.footer .social-icons img {
  width: 40px;
  height: 40px;
}
.footer .social-icons a:not(:last-child) {
  margin-right: 1rem;
}

.coupon {
  display: flex;
  padding: 2rem;
  align-items: center;
}
.coupon__img {
  width: 40%;
  flex-shrink: 0;
}
.coupon__info {
  padding: 0 1rem;
}

.new-products-slider div.product-card {
  padding-left: 1rem;
  padding-right: 1rem;
}

.product-card {
  position: relative;
}
.product-card__inner .product-card__imgs {
  width: 100%;
  height: 120%;
  position: relative;
  cursor: pointer;
}
.product-card__inner .product-card__imgs img {
  width: 100%;
  aspect-ratio: 352/429;
  transition: all 0.5s ease-in-out;
}
.product-card__inner .product-card__imgs img:nth-child(2) {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: auto;
  position: absolute;
}
.product-card__inner .product-card__imgs:hover img:nth-child(2) {
  opacity: 1;
}
.product-card__inner .product-card__imgs .product-discount {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: #28a1b2;
  z-index: 2;
  font-weight: 700;
}
.product-card__inner .product-card__imgs .product-love {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 1rem;
  right: 0.75rem;
  color: #28a1b2;
  z-index: 2;
  font-weight: 600;
  z-index: 2;
  background-image: url("../media1/heart-white-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.product-card__inner .product-card__imgs .product-love.active {
  background-image: url("../media1/heart-fill-icon.svg");
}
.product-card__inner .product-card__imgs .product-quantity {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
  height: 2rem;
}
.product-card__inner .product-card__info {
  padding-top: 1rem;
}
.product-card__inner .product-card__info .product__title {
  font-size: 16px !important;
  text-transform: uppercase;
  color: #021d21;
  font-weight: 700;
}
.product-card__inner .product-card__info .product__desc {
  font-size: 15px;
}
.product-card__inner .product-card__info .product__price {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: 14px;
}
.product-card__inner .product-card__info .product__price .price-new {
  font-size: 18px;
  font-weight: 600;
  color: #021d21;
  margin-bottom: 0;
}
.product-card__inner .product-card__info .product__price .price-old {
  text-decoration: line-through;
  font-size: 15px;
  color: #707070;
  font-weight: 600;
}
.product-card.price-vertical .product__price {
  flex-direction: column;
}

.popular-products {
  padding-left: 1rem;
}
.popular-products .side-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--bg);
  position: relative;
  padding: 5rem 1rem;
}
.popular-products .side-banner > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.popular-products .side-banner .side-banner__info {
  color: #fff;
  z-index: 1;
}

.banner-design {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--bg);
  position: relative;
}
.banner-design img {
  min-height: 300px;
}
.banner-design__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button, .button-02, .button-01 {
  border: 1px solid #fff;
  border-radius: 32px;
  padding: 0.6rem 1rem;
  background-color: transparent;
}

.button-01 {
  --arrow: url("../media//svgs/arrow-button.svg");
  color: #fff;
  display: block;
  transition: all 0.3s ease;
  align-items: center;
  padding-right: calc(1rem + 22px);
  line-height: 1;
  position: relative;
}
.button-01:hover {
  background-color: #fff;
  color: #032e34;
  --arrow: url("../media//svgs/arrow-button-bl.svg");
}
.button-01::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: calc(50% - 6px);
  right: 1rem;
  background-image: var(--arrow);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.button-02 {
  --arrow: url("../media//svgs/arrow-button-bl.svg");
  color: #032e34;
  display: block;
  transition: all 0.3s ease;
  align-items: center;
  padding-right: calc(1rem + 22px);
  line-height: 1;
  background-color: #fff;
  position: relative;
}
.button-02:hover {
  background-color: transparent;
  color: #fff;
  --arrow: url("../media//svgs/arrow-button.svg");
}
.button-02::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: calc(50% - 6px);
  right: 1rem;
  background-image: var(--arrow);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.button-03 {
  border: 0;
  outline: 0;
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease-out;
}
.button-03:hover, .button-03:active {
  outline: none;
  border: 2px solid #032e34;
  background-color: transparent;
}
.button-03 img {
  width: 14px;
  height: 14px;
  transform: rotate(-90deg);
}

.accordion-button:focus {
  z-index: 3;
  border-color: #eeeeee;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.accordion-button:not(.collapsed) {
  box-shadow: unset;
  background-color: unset;
}

.accordion-button::after {
  background-size: 0.8rem 0.8rem;
  background-position: center;
  background-image: url("../media/svgs/arrow-button-bl.svg");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../media/svgs/arrow-button-bl.svg");
  transform: rotate(0deg);
}

.accordion-item {
  border: none;
  background: transparent;
}

.accordion-header .accordion-button {
  padding: 1rem 0.6rem 1rem 1.5rem;
  background-color: transparent;
}
.accordion-header .accordion-button h2 {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 0;
}

.border-solid {
  border-top: 0.5px solid;
}

@media (prefers-reduced-motion: reduce) {
  *,
:after,
:before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
.form-control-checkbox {
  font-size: 0.9rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1em auto;
  align-items: center;
  gap: 0.6rem;
  padding: 0.3rem 0;
  cursor: pointer;
}
.form-control-checkbox.accordion-button input {
  transform: translateY(50%);
}
.form-control-checkbox input {
  -webkit-appearance: none;
  margin: 0;
  width: 0.7rem;
  height: 0.7rem;
  border: 2.5px solid #fff;
  outline: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  place-content: center;
}
.form-control-checkbox input:checked {
  border: 2px solid #fff;
  outline: 2px solid rgba(0, 0, 0, 0.15);
  background: #33a1b2;
}
.form-control-checkbox.accordion-button::after {
  content: none;
}

.accordion-body > .form-control-checkbox {
  padding: 0 0;
}

.accordion-body.checkbox-list .form-control-checkbox {
  color: #032e34;
  font-size: 0.8rem;
  font-weight: 300;
  margin-left: 1.5rem;
  line-height: 1.1rem;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-size__inner {
  border: 0.5px solid;
  border-radius: 50%;
  width: 2.5vw;
  height: 2.5vw;
  font-size: 1vw;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.product-size__inner.active {
  background-color: #33a1b2;
  color: #fff;
}

.product-color__inner {
  width: 2.6vw;
  border-radius: 50%;
  height: 2.6vw;
  cursor: pointer;
  border: 3px solid #fff;
  transition: 0.2s all ease-in-out;
}
.product-color__inner.active {
  outline: 1px solid;
}

.bg-trans {
  background: transparent;
}

.header {
  position: sticky;
  top: 0;
}
.header__banner {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__main {
  display: flex;
  align-items: center;
  padding: 0 5rem;
  height: 80px;
}
.header__main .logo {
  padding: 1rem 0;
  height: 100%;
}
.header__main .search {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__main .search form {
  position: relative;
}
.header__main .search form input {
  padding: 0.5rem 0;
  padding-right: 40px;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  outline: 0;
  width: 450px;
  font-size: 1rem;
}
.header__main .search form input::placeholder {
  color: #021d21;
}
.header__main .search form button {
  height: 100%;
  width: 40px;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5rem;
  padding-right: 0;
  outline: 0;
}
.header__main .search form button img {
  width: 100%;
  height: 100%;
}
.header__main .language-option {
  border-left: 2px solid rgba(0, 0, 0, 0.15);
  border-right: 2px solid rgba(0, 0, 0, 0.15);
  padding: 0 2rem;
  height: 100%;
  align-items: center;
  display: flex;
}
.header__main .language-option ul {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  margin-bottom: 0;
}
.header__main .language-option ul li:first-child {
  margin-right: 1rem;
}
.header__main .language-option ul li.selected {
  color: #021d21;
  font-size: 1.125rem;
  font-weight: 600;
}
.header__main .shop-manage {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.header__main .shop-manage .account {
  margin-right: 1rem;
  margin-left: 1rem;
}
.header__main .shop-manage .account > a > img {
  width: 20px;
  height: 20px;
}
.header__main .shop-manage .love {
  margin-right: 1rem;
}
.header__main .shop-manage .love > a > img {
  width: 20px;
  height: 20px;
}
.header__main .shop-manage .shopping-cart > a {
  position: relative;
}
.header__main .shop-manage .shopping-cart > a > img {
  width: 20px;
  height: 20px;
}
.header__main .shop-manage .shopping-cart > a span {
  width: 12px;
  height: 12px;
  position: absolute;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #021d21;
  font-weight: 700;
  bottom: 0;
  right: 0;
  background-color: #28a1b2;
  border-radius: 50%;
}
.header__nav {
  background-color: #33a1b2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav .header__nav-item {
  text-transform: uppercase;
  margin-right: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
}

.landing-slider__slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.landing-slider .bg-buttom-right {
  background-image: var(--bg);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.style-card {
  padding-top: 100%;
  position: relative;
}
.style-card .style-card-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}
.style-card__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.style-card__info .social-icons img {
  width: 25px;
  height: 25px;
}

.style-tab {
  margin-bottom: 1rem;
}
.style-tab .nav-item a.nav-link {
  transition: all 0.5s ease;
  font-weight: 700;
  color: #707070;
  font-size: 0.875rem;
  border: 0;
  background-color: transparent;
}
.style-tab .nav-item a.nav-link:hover {
  color: #032e34;
  border: 0;
}
.style-tab .nav-item a.nav-link.nav-link.active {
  font-size: 1rem;
  color: #032e34;
  background-color: transparent !important;
  border: 0;
  background-color: red;
}

.nav-tabs {
  border-bottom: 0;
}

.location-path {
  font-size: 0.65rem;
}

.path-icon {
  background: url("../media/svgs/angle-down-btn.svg") no-repeat;
  background-size: 5px 5px;
  background-position: center;
  display: inline-block;
  color: #000;
  width: 7px;
  height: 7px;
  transform: rotate(-90deg);
}

.dropdown-icon {
  background: url("../media/svgs/angle-down-btn.svg") no-repeat;
  background-size: 10px 10px;
  background-position: center;
  display: inline-block;
  color: #000;
  width: 10px;
  height: 10px;
  border: none;
}

.dropdown-btn {
  border: none;
  background-color: transparent;
  position: relative;
}
.dropdown-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  border: none;
  background: url("../media/svgs/angle-down-btn.svg") no-repeat;
  background-size: 10px 10px;
  background-position: center;
  width: 10px;
  height: 10px;
}

.dropdown-menu {
  padding: 0;
  position: absolute;
  right: 0;
  inset: 0px auto auto 0px;
  min-width: 100%;
  transform: translate3d(0px, 29px, 0px);
}
.dropdown-menu .dropdown-toggle {
  width: 10rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.bold-bottom {
  border-bottom: solid #082e34;
}

.text-left {
  text-align: left;
}

.table-title {
  border: none;
  background: none;
}
.table-title.active {
  background: #082e34;
  color: #fff;
}

.table > :not(caption) > * > * {
  border-bottom-width: 0;
}

.table {
  width: 100%;
}
.table tr th {
  text-align: center;
}
.table .text-left {
  text-align: left;
}
.table tr:not(:first-child) {
  border-bottom: 1px dashed #d6dfdf;
}
.table tr:first-child,
.table tr:last-child {
  border-bottom: 1px solid #082e34;
}

.form-checkbox {
  font-size: 1rem;
  font-weight: 600;
  gap: 0.6rem;
  padding: 0.3rem 0;
  cursor: pointer;
}
.form-checkbox.accordion-button input {
  transform: translateY(50%);
}
.form-checkbox input {
  -webkit-appearance: none;
  margin: 0;
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  border: 2.5px solid #fff;
  outline: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: grid;
  place-content: center;
}
.form-checkbox input:checked {
  border: 2px solid #fff;
  outline: 2px solid rgba(0, 0, 0, 0.15);
  background: #33a1b2;
}

.w-25\2  {
  width: 12.5%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-35 {
  width: 35%;
}

.w-30 {
  width: 30%;
}

.w-5 {
  width: 5%;
}

.w-95 {
  width: 95%;
}

.w-110 {
  width: 110%;
}

.mw-100 {
  min-width: 100%;
  width: 100%;
}

.bg-none {
  background: none;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.card-info {
  display: flex;
}
.card-info .card-form {
  width: 5rem;
  height: 6rem;
}
.card-info .img {
  width: 100%;
  height: 100%;
}
.card-info .content {
  position: relative;
}
.card-info .content span {
  position: absolute;
  bottom: 0;
  left: 0;
  text-decoration: underline;
  cursor: pointer;
}

.mid {
  text-align: center;
  vertical-align: middle;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.number-form {
  width: 100%;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  width: 1.5rem;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
  padding: 0.2rem 0;
  background: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

.number-form #decrease {
  border-radius: 50px 0 0 50px;
}

.number-form #increase {
  border-radius: 0 50px 50px 0;
}

.number-form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 2rem;
  height: 2rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.line-through {
  text-decoration: line-through;
}

.order-summary h4 {
  border-style: none none dashed;
  border-width: 1px;
  border-color: #d6dfdf;
  padding-bottom: 1rem;
}
.order-summary .text-red {
  color: #f6fefe;
}

.btn-form button {
  padding: 0.5rem 2.5rem;
}

.btn-pri {
  border-radius: 50rem;
  border: none;
}

.update-store {
  color: #082e34;
  background: none;
  text-decoration: underline;
  border: none;
}

.continue-buy {
  background-color: #aae5de;
  border: none;
}

.delete-product {
  border: 1px solid #082e34;
  background: none;
}

.w-10r {
  width: 10rem;
}

.payment-card .payment-address {
  border-left: 0.5rem solid #aae5de;
}
.payment-card .payment-address .desc {
  padding: 0.8rem;
  background-color: #fbffff;
}
.payment-card .payment-address .desc button {
  text-decoration: underline;
  background: none;
}
.payment-card .order-option {
  border-bottom: 1px dashed #d6dfdf;
}

.addition-form button {
  border: 1px solid #082e34;
  padding: 0.3rem 0;
  background: none;
  width: 15rem;
}

.momo-logo {
  background-image: url(../media1/momo.svg);
  background-size: contain;
  width: 2rem;
  height: 2rem;
}

.dash {
  border: 1px dashed #d6dfdf;
}

.btns button {
  background: url("../media/svgs/angle-down-btn.svg") no-repeat;
  background-size: contain;
  background-position: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;
}
.btns .left {
  transform: rotate(90deg);
}
.btns .right {
  transform: rotate(-90deg);
}

.rounded-5 {
  border-radius: 50rem;
}

.border-07 {
  border: 0.5px solid #707070;
}

.bg_light-blue {
  background-color: #afdbe0;
}

.top-right-navigator-slider-001 .slick-next {
  right: 0.5rem;
  position: absolute;
  top: 35%;
}
.top-right-navigator-slider-001 .slick-prev {
  left: 0.5rem;
  position: absolute;
  top: 35%;
}

.right-side-banner {
  background: url("../media/imgs/bannerdesign.jpg") no-repeat;
  background-size: 400px 400px;
  background-position: top left;
  height: 20rem;
}

.cart-btns button:nth-child(1) {
  background-color: #fff;
}
.cart-btns button:nth-child(1).active {
  color: #fff;
  background-color: #33a1b2;
  border-color: #33a1b2;
}
.cart-btns button:nth-child(2) {
  background-color: #082e34;
  color: #fff;
}
.cart-btns button:nth-child(2).active {
  color: #082e34;
  background-color: #fff;
}

.img-list button.active img {
  filter: opacity(100%);
}
.img-list img {
  filter: opacity(30%);
  cursor: pointer;
}

.delivery-details {
  position: relative;
  width: 13rem;
  margin-left: 3rem;
}
.delivery-details::after {
  content: "";
  background: url("../media1/thanhtoan-icon.svg");
  background-size: contain;
  position: absolute;
  right: 102%;
  top: 0;
  width: 2rem;
  height: 2rem;
}

.font-400 p {
  font-weight: 400;
}

.note-icon {
  width: 12px;
  height: 12px;
  background: url("../media/svgs/arrow-button-bl.svg") no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.btn-pri .product-love {
  width: 1.5rem;
  height: 1.5rem;
  color: #28a1b2;
  font-weight: 600;
  z-index: 2;
  background-image: url(../media1/heart-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.btn-pri.active .product-love {
  background-image: url(../media1/heart-white-icon.svg);
}

.policy-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 2rem;
}
.policy-card__info {
  font-size: 0.875rem;
  font-weight: 600;
}

.subcribe-section {
  background-image: var(--bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.subcribe-section .getintouch {
  font-size: 64px;
  font-weight: 700;
}

.monopoly-slider .slick-prev {
  left: 15%;
}
.monopoly-slider .slick-next {
  right: 15%;
}
.monopoly-slider .slick-slide .monopoly-slider__slide {
  position: relative;
  transition: all 0.5s ease-in-out;
  height: 500px;
  padding: 3rem 2rem;
}
.monopoly-slider .slick-slide .monopoly-slider__slide .monopoly__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.monopoly-slider .slick-slide .monopoly-slider__slide .slide-img-wraper {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 100%;
}
.monopoly-slider .slick-slide .monopoly-slider__slide .slide-img-wraper img {
  width: 100%;
  height: 100%;
}
.monopoly-slider .slick-slide .monopoly-slider__slide .slide-img-wraper::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(7, 68, 53, 0.3);
}
@media only screen and (max-width: 1366px) {
  .monopoly-slider .slick-slide .monopoly-slider__slide {
    height: 300px;
  }
  .monopoly-slider .slick-slide .monopoly-slider__slide .monopoly__info {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .monopoly-slider .slick-slide .monopoly-slider__slide {
    height: 300px;
  }
  .monopoly-slider .slick-slide .monopoly-slider__slide .monopoly__info {
    font-size: 1.5rem;
  }
}
.monopoly-slider .slick-slide.slick-current .monopoly-slider__slide {
  padding: 0;
}
.monopoly-slider .slick-slide.slick-current .monopoly-slider__slide .slide-img-wraper::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: transparent;
}

.monopoly-section {
  background: linear-gradient(180deg, #28a1b2 60%, transparent 50%);
}

.paginators .paginator {
  font-size: 16px;
  font-weight: 700;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.paginators .paginator.current {
  border: 2px solid rgba(0, 0, 0, 0.15);
  background-color: #33a1b2;
  color: #fff;
}
.paginators .paginator:hover {
  color: #032e34;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/*# sourceMappingURL=index.css.map */
