@import 'mixins';

.coupon {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    align-items: center;

    &__img {
        width: 40%;
        flex-shrink: 0;
    }

    &__info {
        flex-grow: 1;
        width: 60%;
        padding: 0 1rem;
        padding-left:0;
    }
}

@include mobile {
    .coupon {
        padding: 1rem;
        
        &__img {
            width: 100%;
            flex-shrink: 0;
        }
    
        &__info {
            padding: 0 1rem;
            padding-left:0;
        }
    }
}
