@import 'mixins';

.coupon {
    display: flex;
    padding: 2rem;
    align-items: center;

    &__img {
        width: 40%;
        flex-shrink: 0;
    }

    &__info {
        padding: 0 1rem;
    }
}

