@import "./variables";

.accordion-button:focus {
  z-index: 3;
  border-color: #eeeeee;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}
.accordion-button:not(.collapsed) {
  box-shadow: unset;
  background-color: unset;
}
.accordion-button:not(.collapsed) {
}
.accordion-button::after {
  // background-image: url("../media/svgs/arrow-button.svg");
  background-size: 0.8rem 0.8rem;
  background-position: center;
  background-image: url();
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../media/svgs/arrow-button-bl.svg");
  transform: rotate(0deg);
}

.accordion-item {
  border: none;
}

.accordion-header {
  .accordion-button {
    padding: 1rem 0.6rem 1rem 1.5rem;
    h2 {
      display: flex;
      align-items: center;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
}

.border-solid {
  border-top: 0.5px solid;
}

@media (prefers-reduced-motion: reduce) {
  *,
  :after,
  :before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

.form-control-checkbox {
  font-size: 1rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1em auto;
  align-items: center;
  gap: 0.6rem;
  padding: 0.3rem 0;
  cursor: pointer;
  &.accordion-button input {
    transform: translateY(50%);
  }
  input {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 0.7em;
    height: 0.7em;
    border: 0.5px solid $color-07;
    border-radius: 100%;

    display: grid;
    place-content: center;
    &::before {
      content: "";
      width: 0.4em;
      height: 0.4em;
      transform: scale(0);
      border-radius: 100%;
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em $bg-05;
    }
    &:checked::before {
      transform: scale(1);
    }
  }
  &.accordion-button::after {
    content: none;
  }
}

.accordion-body > .form-control-checkbox {
  padding: 0 0;
}

.accordion-body.checkbox-list .form-control-checkbox {
  color: $color-02;
  font-size: 1rem;
  font-weight: 300;
  margin-left: 1.5rem;
  line-height: 1.1rem;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-size {
  &__inner {
    border: 0.5px solid;
    border-radius: 50%;
    width: 2.5vw;
    height: 2.5vw;
    font-size: 1vw;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    &.active {
      background-color: $bg-04;
      color: $bg-01;
    }
  }
}
.product-color {
  &__inner {
    width: 2vw;
    border-radius: 50%;
    height: 2vw;
    cursor: pointer;

    transition: 0.2s all ease-in-out;
    &.active {
      border: 3px solid #fff;
      outline: 1px solid;
    }
  }
}
