@import "./variables";

.accordion-button:focus {
    z-index: 3;
    border-color: #eeeeee;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.accordion-button:not(.collapsed) {
    box-shadow: unset;
    background-color: unset;
}

.accordion-button::after {
    background-size: 0.8rem 0.8rem;
    background-position: center;
    background-image: url("../media/svgs/arrow-button-bl.svg");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../media/svgs/arrow-button-bl.svg");
    transform: rotate(0deg);
}

.accordion-item {
    border: none;
    background: transparent;

    .accordion-body {
        padding-bottom: 0;
        padding-top: 2rem;
    }
    & > .accordion-item {
        .accordion-body {
            padding-bottom: 0;
            padding-top: 1rem;
        }
    }
}

.accordion-header {
    .accordion-button {
        padding: 1rem 0 1rem 0;
        background-color: transparent;
        h2 {
            display: flex;
            align-items: center;
            font-weight: 600;
            margin-bottom: 0;
        }
    }
}

.border-solid {
    border-top: 1px solid $border-color;
}

@media (prefers-reduced-motion: reduce) {
    *,
    :after,
    :before {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}

.form-control-checkbox {
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 0.3rem 0;
    cursor: pointer;
    &.accordion-button input {
        transform: translateY(50%);
    }
    input[type="checkbox"] {
        $w: 12px;
        -webkit-appearance: none;
        margin-right: 0.5rem !important;
        margin: 0;
        flex-shrink: 0;
        width: $w;
        height: $w;
        max-width: $w;
        max-height: $w;
        border: 2.5px solid $white;
        outline: 2px solid $border-color-00;
        border-radius: 50%;
        cursor: pointer;
        // display: grid;
        // place-content: center;
        &:checked {
            border: 2px solid $white;
            outline: 2px solid $border-color;
            background: $bg-05;
        }
    }
    &.accordion-button::after {
        content: none;
    }
}

.accordion-body > .form-control-checkbox {
    padding: 0 0;
}

.accordion-body.checkbox-list .form-control-checkbox {
    color: $color-02;
    font-size: 0.875rem;
    font-weight: 700;
}

// .checkbox-list {
//     display: flex;
//     flex-direction: column;
//     gap: 0.5rem;
// }

.product-size {
    &__inner {
        $w: 50px;
        border: 0.5px solid;
        border-radius: 50%;
        width: $w;
        height: $w;
        font-size: 1.2rem;
        line-height: $w;
        cursor: pointer;
        transition: 0.2s all ease-in-out;
        &.active {
            background-color: $bg-05;
            color: $bg-01;
        }
    }
}

.product-color {
    &__inner {
        display: block;
        $w: 40px;
        width: $w;
        border-radius: 50%;
        height: $w;
        cursor: pointer;
        border: 3px solid #fff;
        transition: 0.2s all ease-in-out;
        &.active {
            outline: 2px solid;
        }
    }
}

.bg-trans {
    background: transparent;
}

.filter-product {
    .level1 {
        // margin-bottom: 1rem;
        font-weight: 700;
        .accordion-body {
            padding-top: 2rem;
            padding-bottom: 0;
        }

        .level2 {
            margin-bottom: 1rem;
            .accordion-body {
                padding-top: 1rem;
                padding-bottom: 0rem;
            }

            label {
                color: $color-02;
                font-size: 0.875rem;
                font-weight: 700;
                margin-bottom: 0.5rem !important;
            }

            .level3 {
                margin-bottom: 0.5rem;
                // margin-left: 1rem;
            }
        }
    }
}

.filter-product {
    .accordion {
        .close {
            display: none;
        }
    }
    
}

@include tablet {
    .filter-product {
        .heading-03 {
            font-size: 1.125rem;
        }
    }
    
}
#mobile-filter-toggle {
    display: none;
    outline: none !important;
    border: 0;
    background-color: transparent;

    align-items: center;
    display: none;
    color: $color-01;
    text-transform: capitalize;
    $w: 32px;
    font-weight: 700;
    i {
        color: $color-01;
        font-size: 32px;
        width: $w;
        height: $w;
        line-height: $w;
    }
    span {
        line-height: $w;
        margin-left: 0.5rem;
    }
    &:hover {
        color: $color-02;
    }
}

@include tablet {
    #mobile-filter-toggle {
        display: flex;
    }
}
@include tablet {
    .filter-product {
        display: none;
        position: relative;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1001;
        padding: 0 !important;

        & > .accordion {
            position: absolute;
            top: 0;
            left: -100%;
            padding: 1rem;
            padding-top: 3rem;
            width: 80%;
            max-width: 300px;
            height: 100%;
            overflow: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            background-color: #fff;

            .close {
                // background-color: rgba(0, 0, 0, 0.5);
                display: initial;
                transition: all 0.5s ease;
                cursor: pointer;
                padding: 0.25rem;
                font-size: 1.5rem;
                right: 0;
                position: absolute;
                right: 1rem;
                top: 1rem;
                border-radius: 50%;
                // color: #fff;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                    color: #fff;
                }
            }
        }
        &.open {
            display: block;
            & > .accordion {
                left: 100%;
                animation-name: scroll-in;
                animation-duration: 0.5s;
                animation-delay: 0;
                animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes scroll-in {
    0% {
        left: -300px;
    }
    100% {
        left: 0;
    }
}

@keyframes scroll-out {
    0% {
        left: 0;
    }
    100% {
        left: -300px;
    }
}
