@import 'variables';

.header {
    &__banner {
        height: 100px;
        background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &__main {
        display: flex;
        align-items: center;
        padding: 0 5rem;
        height: 80px;
        .logo {
            padding: 1rem 0;
            height: 100%;
        }
        .search {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            // height: 100%;
            form {
                position: relative;
                $padding-right: 40px;

                input {
                    padding: 0.5rem 0;
                    padding-right: $padding-right;
                    border: 0;
                    border-bottom: 2px solid $color-03;
                    outline: 0;
                    width: 450px;

                }
                button {
                    height: 100%;
                    width: $padding-right;
                    border: 0;
                    background-color: transparent;
                    position: absolute;
                    right: 0;
                    top: 0;
                }

            }
        }

        .language-option {
            border-left: 2px solid $color-03;
            border-right: 2px solid $color-03;
            padding: 0 2rem;
            height: 100%;
            align-items: center;
            display: flex;
            ul {
                display: flex;
                align-items: center;

                li {
                    color: $color-03;
                    &:first-child {
                        margin-right: 1rem;
                    }
                    &.selected {
                        color: $color-02;
                    }
                }

            }
        }
    }
    &__nav {
        background-color: $bg-05;
        display: flex;
        justify-content: center;

        .nav-item {
            text-transform: uppercase;
            margin-right: 2rem;
            padding: 0.5rem;
            font-size: 0.875rem;
            color: $color-01;
        }
    }
}