@import "variables";

$nav-front-size: 1rem;

.header {
  &__banner {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__main {
    display: flex;
    align-items: center;
    padding: 0 5rem;
    height: 80px;
    .logo {
      padding: 1rem 0;
      height: 100%;
    }
    .search {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      // height: 100%;
      form {
        position: relative;
        $padding-right: 40px;

        input {
          padding: 0.5rem 0;
          padding-right: $padding-right;
          border: 0;
          border-bottom: 2px solid $border-color;
          outline: 0;
          width: 450px;
          font-size: 0.875rem;
          background-color: inherit;
          &::placeholder {
            color: $color-01;
          }
        }
        button {
          height: 100%;
          width: $padding-right;
          border: 0;
          background-color: transparent;
          position: absolute;
          right: 0;
          top: 0;
          padding-right: 0;
          outline: 0;
          img {
            width: 25px;
            height: 25px;
          }
        }

       
      }
    }

    .language-option {
      border-left: 2px solid $border-color;
      border-right: 2px solid $border-color;
      padding: 0 2rem;
      height: 100%;
      align-items: center;
      display: flex;
      ul {
        display: flex;
        align-items: center;
        font-size: $sm-text;
        margin-bottom: 0;
        padding: 0;

        li:first-child {
          margin-right: 1rem;
        }
        li.selected {
          color: $color-01;
          font-size: $lg-text;
          font-weight: 600;
        }
      }
    }

    .shop-manage {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      .account {
        margin-right: 1rem;
        margin-left: 1rem;
        & > a > img {
          $w: 20px;

          width: $w;
          height: $w;
        }
      }

      .love {
        margin-right: 1rem;
        & > a > img {
          $w: 22px;

          width: $w;
          height: $w;
        }
      }
      .shopping-cart {
        & > a {
          & > img {
            $w: 25px;

            width: $w;
            height: $w;
          }
          position: relative;
          span {
            width: 12px;
            height: 12px;
            position: absolute;
            font-size: 10px;
            line-height: 14px;
            text-align: center;
            color: $color-01;
            font-weight: 700;

            bottom: 0;
            right: 0;
            background-color: $color-03;
            border-radius: 50%;
          }
        }
      }
    }
  }
  &__nav {
    background-color: $bg-05;
    display: flex;
    justify-content: center;
    align-items: center;

    .header__nav-item {
      text-transform: uppercase;
      position: static;
      margin-right: 2rem;
      padding: 0.5rem;
      font-size: 0.875rem;
      color: $color-10;
      font-weight: 700;
      transition: all 0.5s ease;
      a {
        width: 100%;
        height: 100%;
      }
      &.active {
        box-sizing: border-box;
        position: relative;
        
        ::after {
          content: '';
          width: 100%;
          height: 3px;
          background-color: red;
          position: absolute;
          bottom: 0;
          left: 0;

        }
      }
      &.has-submenu {
        position: relative;
        .header-submenu {
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          position: absolute;
          background-color: #fff;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          color: rgba($color-01, 0.6);
          z-index: 10;
          min-width: 220px;
          
          .submenu-item {
            padding: 0.5rem 1rem;
            display: none;
            &:hover {
              background-color: rgba(0, 0, 0, 0.5);
              color: #fff;
            }
          }
          
        }
        &:hover {
          .submenu-item {
            display: block;
          }
        }

      }

      .header-mega {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 80vw;
        margin: 0 auto;
        padding-top: 10px;
        position: absolute;
        display: none;
    
        top: calc(100% - 10px);
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        .mega-content {
          background-color: #fff;
          padding: 2rem;
          border-radius: 0 0 1rem 1rem;
    
          .header__nav-item {
            font-size: 0.875rem;
            color: rgba($color-01, 0.6);
            padding-left: 0;

            &:hover {
              
              a {
                color: $color-01;
              }
            }
          }
        }
        .mega-gap {
          gap: 2rem;
        }
        .mega-img {
          border-radius: 1rem;
      
          img {
            border-radius: inherit;
          }
        }
      }

      &:hover {
        .header-mega {
          display: block;
        }
        & > a:first-child {
          color: rgba($color-01, 0.6);
          
        }
      }
      
    }
  }
}
.header-mobile {
  display: none;
}

@include tablet {
  .header {
    display: none;
  }

  .header-mobile {
    display: block;
    & + * {
      padding-top: 80px;
    }
    

  }

}

.header-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;

  
  .top-header {
    height: 80px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;

    .logo {
      width: 150px;
      height: auto;
    }
    .right {
      display: flex;
      align-items: center;
      
      $img-icon-w: 35px;

        .search {
          position: relative;
          // width: 30%;
          margin-right: 2rem;
          
          img {
            width: 25px;
            height: 25px;
            object-fit: contain;
          }
          form {

            position: absolute;
            top: calc(100% + 2rem);
            right: -4rem;
            padding: 0.5rem;
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid $border-color;
            display: none;
            input {
              border-radius: 4px;
              outline: 0;
              border:0;
              // border: 1px solid $border-color;
              background-color: #f9f9fb;
              padding: 0.25rem 0.5rem;
              z-index: inherit;
              font-size: 0.875rem;
              width: 400px;
              max-width: calc(100vw - 6rem);
    
            }

            @include mobile {
                right: calc(-8.6rem - 7px);
                width: 99vw;
                input {
                  width: 100%;
                  max-width: 100vw;
                  font-size: 0.875rem;
                }
            }
    
            button {
              position: absolute;
              border-radius: 4px;
              background-color:red;
            }
            &.open {
              display: block;
            }
          }
        }

        .shopping-cart {
          margin-right: 2rem;
          a {
            position: relative;
            
            img {
              width: 32px;
              height: 25px; 
              object-fit: contain; 
            }

            span {
              position: absolute;
              font-size: 0.8rem;
              background-color: $bg-05;
              font-weight: 700;
              border-radius: 50%;
              // display: block;
              padding:0.1rem 0.2rem;
              line-height: 1;
              bottom: 0;
              right: 0;
              transform: translateX(50%);

            }
          }

        }
        #toggle-sidebar-header {
          border: 0;
          padding: 0;
          outline: 0 !important;
          background-color: transparent;
          img {
            width: $img-icon-w;
            height: $img-icon-w;
            opacity: 0.7;
          }
        }
        
    }
    
  }

  .sidebar-header {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    .login-mobile {
      padding-left: 2rem;
      padding-bottom: 1rem;
      margin-top: 1rem;
      
      border-bottom: 1px solid $border-color;
      
      img {
        margin-right: 0.5rem;
        width: 20px;
        height: 20px;

      }

    }
    &__inner {
      height: 100%;
      position: absolute;
      right: 0;
      width: 300px;
      background-color: #fff;
      // animation-name: scroll-in;
      animation-duration: 300ms;
      animation-fill-mode: forwards;
      animation-delay: 0ms;

      // right: -300px;
      .sidebar-header__nav {
        padding: 1rem 0;
        .sidebar__nav-item {
          padding: 0.5rem 2rem;
          text-transform: uppercase;
          font-size: $nav-front-size;
          // border-bottom: 1px solid $border-color;
          &.active {
            color: $color-04;
          }
          &.my-accordion {
            
            .my-accordion__title {
              cursor: pointer;
              position: relative;
              &::after {
                content: '';
                $w: 15px;
                width: $w;
                height: $w;
                transition: all 0.5s ease;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                transform-origin: center;
                background-image: url('../media/arrow-button-bl.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                
              }
              &.open {

                &::after {
                  transform: translateY(-50%) rotate(90deg);
                  
                }

              }
            
            }

            .my-accordion__body {
              max-height: 0;
              overflow-y: hidden;
              transition: max-height 0.3s ease-out;
              .sidebar__nav-item {
                font-size: 0.875rem;
                padding-left: 0rem;
                padding-right: 0;
              }

            }
            
          }
        }
      }
      
      .my-close {
        // background-color: rgba(0, 0, 0, 0.5);
        display: initial;
        transition: all 0.5s ease;
        cursor: pointer;
        padding: 0.25rem;
        font-size: 1.5rem;
        right: 0;
        position: absolute;
        right: 1rem;
        top: 1rem;
        border-radius: 50%;
        // color: #fff;
        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
        }
      }
    }

    &.open {
      display: block;
      // &__inner {

      // }
    }
  }
}

@keyframes sidebar-scroll-in {
  0% {
    right: -300px;
  }

  100% {
    right: 0;
  }

}

@keyframes sidebar-scroll-out {
  0% {
    right: 0;
  }

  100% {
    right: -300px;
  }

}



.header-main-wraper {
  position: relative;
  
}