@import "variables";

.header {
  &__banner {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__main {
    display: flex;
    align-items: center;
    padding: 0 5rem;
    height: 80px;
    .logo {
      padding: 1rem 0;
      height: 100%;
    }
    .search {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      // height: 100%;
      form {
        position: relative;
        $padding-right: 40px;

        input {
          padding: 0.5rem 0;
          padding-right: $padding-right;
          border: 0;
          border-bottom: 2px solid $color-06;
          outline: 0;
          width: 450px;
          &::placeholder {
              color: $color-01;
          }
        }
        button {
          height: 100%;
          width: $padding-right;
          border: 0;
          background-color: transparent;
          position: absolute;
          right: 0;
          top: 0;
          padding: 0.5rem;
          padding-right: 0;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .language-option {
          border-left: 2px solid $color-06;
          border-right: 2px solid $color-06;
          padding: 0 2rem;
          height: 100%;
          align-items: center;
          display: flex;
          ul {
            display: flex;
            align-items: center;

            li {
              color: $color-07;
              font-weight: 600;
              font-size: 0.875rem;

              &:first-child {
                margin-right: 1rem;
              }
              &.selected {
                color: $color-01;
                font-weight: 600;
                font-size: 1rem;
                background-color: red;
              }
            }
          }
        }
      }
    }

    .language-option {
      border-left: 2px solid $color-06;
      border-right: 2px solid $color-06;
      padding: 0 2rem;
      height: 100%;
      align-items: center;
      display: flex;
      ul {
          display: flex;
          align-items: center;
          font-size: $sm-text;
          
          li:first-child {
              margin-right: 1rem;
              
          }
          li.selected {
              color: $color-01;
              font-size: $lg-text;
              font-weight: 600;
          }
      }
    }

    .shop-manage {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        
        .account {
            margin-right: 1rem;
            margin-left: 1rem;
            &>a > img {
                $w: 20px;

                width: $w;
                height: $w;
            }
        }

        .love {
            margin-right: 1rem;
            &>a > img {
                $w: 20px;

                width: $w;
                height: $w;
            }
        }
        .shopping-cart {
            
            &>a {
                &> img {
                    $w: 20px;
    
                    width: $w;
                    height: $w;
                }
                position: relative;
                span {
                    width: 10px;
                    height: 14px;
                    position: absolute;
                    font-size: 10px;
                    line-height: 14px;
                    text-align: center;
                    color: #fff;
                    font-weight: 700;

                    bottom: 0;
                    right: 0;
                    background-color: $color-03;
                    border-radius: 50%;
    
                }
            }
            
        }

    }
  }
  &__nav {
    background-color: $bg-05;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-item {
      text-transform: uppercase;
      margin-right: 2rem;
      padding: 0.5rem;
      font-size: 0.875rem;
      color: $color-10;
      font-weight: 600;
    }
  }
}
