@import "./variables";
.payment-card {
    .payment-address {
        .desc {
            border-left: 0.5rem solid $bg-04;
            padding: 0.8rem;
            background-color: $color-12;
            button {
                text-decoration: underline;
                background: none;
            }
        }
    }

    .order-option {
        border-bottom: 1px dashed $dash;
    }
}

.addition-form {
    button {
        border: 1px solid $color-11;
        padding: 0.3rem 0;
        background: none;
        min-width: 15rem;
    }
}

.momo-logo {
    background: url(../media/momo.svg) no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    background-position: center;
}
.payment-logo {
    background: url(../media/thanhtoankhinhanhang.svg) no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    background-position: center;
}
.atm-logo {
    background: url(../media/theatmnoidia.svg) no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    background-position: center;
}
.visa-logo {
    background: url(../media/visa.svg) no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    background-position: center;
}
.vnpay-logo {
    background: url(../media/vnpay_new.svg) no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    background-position: center;
}
.dash {
    border: 1px dashed $dash;
}
.btns {
    button {
        background: url("../media//angle-down-btn.svg") no-repeat;
        background-size: contain;
        background-position: center;
        width: 2rem;
        height: 2rem;
        padding: 0;
        border: none;
        // filter: $bg-05;
    }
    .left {
        transform: rotate(90deg);
    }
    .right {
        transform: rotate(-90deg);
    }
}
.rounded-5 {
    border-radius: 50rem;
}

.border-07 {
    border: 0.5px solid $color-07;
}
.bg_light-blue {
    background-color: $light-blue;
}
.top-right-navigator-slider-001 {
    .slick-next {
        right: 0.5rem;
        position: absolute;
        top: 35%;
    }
    .slick-prev {
        left: 0.5rem;
        position: absolute;
        top: 35%;
    }
}
.right-side-banner {
    background: url("../media//bannerdesign.jpg") no-repeat;
    background-position: top right;
    height: 20rem;
}
.mx--1 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
//banks

li {
    list-style: none;
}

h4 {
    font-size: 1.1em;
}

h5,
h6 {
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the
    first child of the left and right table columns */
.rightColumn > h1,
.rightColumn > h2,
.leftColumn > h1,
.leftColumn > h2 {
    margin-top: 0px;
}

ul.bankList {
    clear: both;
    height: 202px;
    width: 636px;
}

ul.bankList li {
    list-style-position: outside;
    list-style-type: none;
    cursor: pointer;
    float: left;
    margin-right: 0;
    padding: 10px 6px;
    text-align: center;
    width: 90px;
}

.list-content li .boxContent {
    width: 636px;
    border: 1px solid #cccccc;
    padding: 10px;
}

.list-content li.active .boxContent {
    display: block;
}

.list-content li .boxContent ul {
    height: 280px;
}
ul.cardList {
    // margin: 15px 0;
    li {
        cursor: pointer;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid #dcdcdf;
        text-align: center;
        width: 120px;
        height: 70px;
        color: #434a54;
        border: 1px solid #dcdcdf;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: all 0.15s ease;
        -o-transition: all 0.15s ease;
        transition: all 0.15s ease;
        text-align: center;
    }
}

ul.cardList li:hover {
    border: 1px solid red;
}

ul.cardList li.active {
    border: 1px solid red;
}

#NH {
    padding: 18.2px;
    display: none;
    &.active {
        display: block;
    }
}

.bank-online-methods input {
    /*-webkit-appearance: button !important;
    -webkit-font-smoothing: antialiased;
    resize: none;*/
    cursor: pointer;
    margin-top: 15px;
    &:checked ~ li {
    }
    display: none;
}

/*input[type="radio"] {
    -webkit-appearance: radio;
}*/

li.bank-online-methods label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    img {
        position: absolute;
        top: 35%;
        transform: translate(-50%);
    }
}
