.popular-products {
    // padding-left: 1rem;
    .side-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: var(--bg);
        position: relative;
        padding: 5rem 1rem;
        
        &> img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            
        }

        .side-banner__info {
            color: #fff;
            z-index: 1;
        }
    }
}