.subcribe-section {
    background-image: var(--bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .getintouch {
        font-size: 64px;
        font-weight: 700;
    }
}