.subcribe-section {
    background-image: var(--bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h3 {
        font-size: 1.125rem !important;
    }
    .getintouch {
        font-size: 64px;
        font-weight: 700;
    }

    p {
        font-size: 1rem;

        @include mobile {
            font-size: 0.95rem;
        }
    }

}