$bodyBg: #f3f4fa;
$mainBg: #f6fffe;
$mainColor: #8624db;
$txtColor: #4e4d4f;
$purple: #8624db;
$orange: #ff9066;
$white: #fff;
$black: #000;
$green: #4caf50;
$red: #db190c;
$dash: #d6dfdf;
$light-blue: #afdbe0;
$light-dark-border: #d7e1e1;

$fontFamily: "Roboto", sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
$bg-01: #fff;
$bg-02: #f5f4ed;
$bg-03: #e9d7bf;
$bg-04: #aae5de;
$bg-05: #33a1b2;
$bg-06: #f6fefe;
$bg-07: #aae5de;
$bg-08: #e9d7c1;
$bg-09: #e9f4f4;
$color-00: #f6fefe;
$color-01: #1a1818;
$color-02: #032e34;
$color-03: #28a1b2;
$color-04: #55c2a4;
$color-05: #aae5de;
$color-06: #e9d7bf;
$color-07: #707070;
$color-08: #393e41;
$color-09: #1a1818;
$color-10: #fff;
$color-11: #082e34;
$color-12: #fbffff;
$color-13: #f58c6d;
$border-color: rgba(0, 0, 0, 0.15);
$border-color-00: rgba(0, 0, 0, 0.3);

$spacing-step: 0.5rem;
$sm-text: 0.875rem;
$md-text: 1rem;
$lg-text: 1.125rem;
$xl-text: 1.25rem;
$xxl-text: 1.5rem;
