
$bodyBg: #F3F4FA;
$mainBg: #fff;
$mainColor: #8624DB;
$txtColor: #4E4D4F;
$purple: #8624DB;
$orange: #FF9066;
$white: #fff;
$black: #000;
$green: #4CAF50;
$red: #DB190C;

$fontFamily: 'Roboto', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
$bg-01: #fff;
$bg-02: #f5f4ed;
$bg-03: #e9d7bf;
$bg-04: #aae5de;
$bg-05: #33a1b2;
$bg-06: #f6fefe;
$bg-07: #aae5de;
$bg-08: #e9d7c1;
$color-01: #fff;
$color-02: #000;
$color-03: #ccc;
$color-04: #ddd;
$color-05: #546a67;
$color-06: #71675d;

$spacing-step: 0.5rem;