@use 'sass:math';
@import 'variables';
@import 'mixins';
$spacing-01: 0.5rem;
// Flex
.flex {
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    padding: 0 math.div($spacing, 2);

    @include tablet {
        padding: 0 math.div($mobileSpacing, 2);
    }
}

@for $i from 1 through 12 {
    $v: math.div($i, 12) * 100;
    .col-#{$i} {
        width: $v*1%;
    }
}


// medium screen

@include tablet {
    @for $i from 1 through 12 {
        $v: math.div($i, 12) * 100;
        .md-col-#{$i} {
            width: $v*1%;
        }
    }

    .hide-md {
        display: none;
    }
}

// small screen

@include mobile {
    @for $i from 1 through 12 {
        $v: math.div($i, 12) * 100;
        .sm-col-#{$i} {
            width: $v*1%;
        }
    }

    .hide-sm {
        display: none;
    }
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fahkwang', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    font-family: $fontFamily;
    color: $txtColor;
    font-size: $fontSizeNormal;
    line-height: 1.5;
    background-color: $bodyBg;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    width: 100%;
}

ul,
li {
    list-style-type: none;
}

// grid

.grid {
    display: grid;
}

@for $i from 1 through 12 {
    $v: math.div($i, 12) * 100;
    .grid-cols-#{$i} {
        grid-template-columns: repeat($i, minmax(0, 1fr));
    }
}

// medium screen

@include tablet {
    @for $i from 1 through 12 {
        .md-grid-cols-#{$i} {
            grid-template-columns: repeat($i, minmax(0, 1fr));
        }
    }
    
}

// small screen

@include mobile {
    @for $i from 1 through 12 {
        .sm-grid-cols-#{$i} {
            grid-template-columns: repeat($i, minmax(0, 1fr));
        }
    }
}


@for $i from 1 through 4 {
    .gap-#{$i} {
        gap: $i * 0.5rem;
    }
}
@for $i from 1 through 4 {
    .gap-x-#{$i} {
        column-gap: $i * 0.5rem;
    }
}

@for $i from 1 through 4 {
    .gap-y-#{$i} {
        column-gap: $i * 0.5rem;
    }
}
@include tablet {
    @for $i from 1 through 4 {
        .md-gap-#{$i} {
            gap: $i * 0.5rem;
        }
    }
    @for $i from 1 through 4 {
        .md-gap-x-#{$i} {
            column-gap: $i * 0.5rem;
        }
    }
    
    @for $i from 1 through 4 {
        .md-gap-y-#{$i} {
            column-gap: $i * 0.5rem;
        }
    }
}


.justify-center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}

.items-center {
    display: flex;
    align-items: center;
}
.items-end {
    display: flex;
    align-items: end;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

section {
    margin-bottom: 2rem;
}
.h-full {
    height: 100%;

}

.w-full {
    width: 100%;
}