@use "sass:math";
@import "variables";
@import "mixins";
$spacing-01: 0.5rem;
html {
    scroll-behavior: smooth;
}
main {
    // max-width:1536px;
    margin: 0 auto;
    background-color: $bg-01;
}
// Flex
.flex {
    display: flex;
    flex-wrap: wrap;
}
input[type="text"] {
    outline: none;
}
[class*="col-"] {
    padding: 0 math.div($spacing, 2);

    @include tablet {
        padding: 0 math.div($mobileSpacing, 2);
    }
}

@for $i from 1 through 12 {
    $v: math.div($i, 12) * 100;
    .col-#{$i} {
        width: $v * 1%;
        max-width: $v * 1%;
        flex: unset;
    }
}

// medium screen

@include tablet {
    @for $i from 1 through 12 {
        $v: math.div($i, 12) * 100;
        .md-col-#{$i} {
            width: $v * 1%;
            max-width: $v * 1%;
        }
    }

    .hide-md {
        display: none !important;
    }
}

// small screen

@include mobile {
    @for $i from 1 through 12 {
        $v: math.div($i, 12) * 100;
        .sm-col-#{$i} {
            width: $v * 1%;
            max-width: $v * 1%;
        }
    }

    .hide-sm {
        display: none !important;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fahkwang", sans-serif;
}
p,
span,
div {
    font-weight: 600;
}

html {
    overflow-x: hidden;
}

body {
    font-family: $fontFamily;
    color: $txtColor;
    font-size: $fontSizeNormal;
    line-height: 1.5;
    background-color: $bodyBg;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: unset;
    &:hover {
        text-decoration: none;
    }
}

img {
    width: 100%;
}

ul,
li {
    list-style-type: none;
}

// grid

.grid {
    display: grid;
}

@for $i from 1 through 12 {
    $v: math.div($i, 12) * 100;
    .grid-cols-#{$i} {
        grid-template-columns: repeat($i, minmax(0, 1fr));
    }
}

// medium screen

@include tablet {
    @for $i from 1 through 12 {
        .md-grid-cols-#{$i} {
            grid-template-columns: repeat($i, minmax(0, 1fr));
        }
    }
}

// small screen

@include mobile {
    @for $i from 1 through 12 {
        .sm-grid-cols-#{$i} {
            grid-template-columns: repeat($i, minmax(0, 1fr));
        }
    }
}

@for $i from 1 through 4 {
    .gap-#{$i} {
        gap: $i * 0.5rem !important;
    }
}
@for $i from 1 through 4 {
    .gap-x-#{$i} {
        column-gap: $i * 0.5rem !important;
    }
}

@for $i from 1 through 4 {
    .gap-y-#{$i} {
        column-gap: $i * 0.5rem !important;
    }
}
@include tablet {
    @for $i from 1 through 4 {
        .md-gap-#{$i} {
            gap: $i * 0.5rem !important;
        }
    }
    @for $i from 1 through 4 {
        .md-gap-x-#{$i} {
            column-gap: $i * 0.5rem !important;
        }
    }

    @for $i from 1 through 4 {
        .md-gap-y-#{$i} {
            column-gap: $i * 0.5rem !important;
        }
    }
}

.justify-center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}

.items-center {
    display: flex;
    align-items: center;
}
.items-end {
    display: flex;
    align-items: end;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

section {
    margin-bottom: 2rem;
}
.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

// Text truncate

@include tablet {
    @for $i from 1 through 4 {
        .md-#{$i}-line {
            display: -webkit-box;
            -webkit-line-clamp: $i;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }
    }
    .md-w-full {
        width: 100%;
    }
}

@include mobile {
    @for $i from 1 through 4 {
        .sm-#{$i}-line {
            display: -webkit-box;
            -webkit-line-clamp: $i;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }
    }
    .sm-w-full {
        width: 100%;
    }
}
