@use 'sass:math';

@import 'variables';
@import 'mixins';

// Padding
@for $i from 1 through 12 {
    .p-#{$i} {
        padding: $i*0.5rem;
    }
}

@for $i from 1 through 12 {
    .pl-#{$i} {
        padding-left: $i*0.5rem;
    }
}

@for $i from 1 through 12 {
    .pt-#{$i} {
        padding-top: $i*0.5rem;
    }
}

@for $i from 1 through 12 {
    .pr-#{$i} {
        padding-right: $i*0.5rem;
    }
}
@for $i from 1 through 12 {
    .pb-#{$i} {
        padding-bottom: $i*0.5rem;
    }
}


@for $i from 1 through 12 {
    .px-#{$i} {
        padding-left: $i*0.5rem;
        padding-right: $i*0.5rem;
    }
}
@for $i from 1 through 12 {
    .py-#{$i} {
        padding-top: $i*0.5rem;
        padding-bottom: $i*0.5rem;
    }
}

// Margin 
@for $i from 1 through 12 {
    .m-#{$i} {
        margin: $i*0.5rem;
    }
}

@for $i from 1 through 12 {
    .ml-#{$i} {
        margin-left: $i*0.5rem;
    }
}

@for $i from 1 through 12 {
    .mt-#{$i} {
        margin-top: $i*0.5rem;
    }
}

@for $i from 1 through 12 {
    .mr-#{$i} {
        margin-right: $i*0.5rem;
    }
}
@for $i from 1 through 12 {
    .mb-#{$i} {
        margin-bottom: $i*0.5rem;
    }
}


@for $i from 1 through 12 {
    .mx-#{$i} {
        margin-left: $i*0.5rem;
        margin-right: $i*0.5rem;
    }
}
@for $i from 1 through 12 {
    .my-#{$i} {
        margin-top: $i*0.5rem;
        margin-bottom: $i*0.5rem;
    }
}


@include tablet {
    
    @for $i from 1 through 12 {
        .md-px-#{$i} {
            padding-left: $i*0.5rem;
            padding-right: $i*0.5rem;
        }
    }
    @for $i from 1 through 12 {
        .md-py-#{$i} {
            padding-top: $i*0.5rem;
            padding-bottom: $i*0.5rem;
        }
    }

    .md-px-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .md-py-0 {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@include mobile {
    
    @for $i from 1 through 12 {
        .sm-px-#{$i} {
            padding-left: $i*0.5rem;
            padding-right: $i*0.5rem;
        }
    }
    @for $i from 1 through 12 {
        .sm-py-#{$i} {
            padding-top: $i*0.5rem;
            padding-bottom: $i*0.5rem;
        }
    }

    .sm-px-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .sm-py-0 {
        padding-left: 0;
        padding-right: 0;
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.heading-01 {
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: $color-01;
    
}

.heading-02 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $color-02;
    font-size: 28px;
}

.heading-03 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $color-01;
}
.headding-05 {
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: $color-01;
}

.bg-01 {
    background-color: $bg-01;

}
.bg-02 {
    background-color: $bg-02;
    
}
.bg-03 {
    background-color: $bg-03;
    
}
.bg-04 {
    background-color: $bg-04;
}

.bg-05 {
    background-color: $bg-05;
    
}

.bg-06 {
    background-color: $bg-06;
    
}
.bg-07 {
    background-color: $bg-07;
}

.bg-08 {
    background-color: $bg-08;
}
.text-01 {
    color: $color-01;

}

.text-02 {
    color: $color-02;
    
}

.text-03 {
    color: $color-03;
    
}

.text-04 {
    color: $color-04;
}

.text-05 {
    color: $color-05;
}

.text-06 {
    color: $color-06;
    
}

.text-sm {
    font-size: 0.875rem;
}

.text-md {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.125rem;
}

.text-xl {
    font-size: 1.25rem;
}

.text-2xl {
    font-size: 1.75rem;
}